
params {

    // Maximum resources available to a single pipeline process
    max_cpus   = 16
    max_memory = '650.GB'
    max_time   = '240.h'
}



//**Process execution settings**

process {

    // Run tasks directly on the Azure Linux virtual machine
    executor = 'local'    
}


//**Docker settings**


docker {

    // Enable Docker containers
    enabled = true

    // Remove temporary Docker containers after completion
    remove = true
}



//**Nextflow working directories and reports**

workDir = '/data/RNAseq_Project/work'

timeline {
    enabled = true
    file = '/data/RNAseq_Project/results/pipeline_info/execution_timeline.html'
}

report {
    enabled = true
    file = '/data/RNAseq_Project/results/pipeline_info/execution_report.html'
}

trace {
    enabled = true
    file = '/data/RNAseq_Project/results/pipeline_info/execution_trace.txt'
}

dag {
    enabled = true
    file = '/data/RNAseq_Project/results/pipeline_info/pipeline_dag.html'
}


